/*----------------------------------------------
/* BASIC SETUPS */
/*----------------------------------------------*/

@font-face {
    font-family: pedija-bold;
    src: url(../fonts/poppins.bold.ttf);
}
@font-face {
    font-family: pedija-regular;
    src: url(../fonts/poppins.regular.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fff;
    color: #141313;
    font-family: pedija-regular;
    text-rendering: optimizeLegibility;
}

/*----------------------------------------------
/* REUSABLE COMPONENTS */
/*----------------------------------------------*/
.mb-container {
  max-width: 375pt;
  height: 100vh;
  overflow: hidden;
  background-color: #ffffff;
  margin: 0px auto;
  opacity: 1;
  border: 1px solid #eee;
  padding: 20px 15px;
}

/*-----------------------------------------------
/* DIVIDER row */
/* --------------------------------------------*/

.divider-1pt:after {
    display: block;
    height: 1pt;
    background-color: #EDEDED;
    content: " ";
    width: 375pt;
    margin: 50px -15px 0px -15px;
}
.divider-4pt:after {
    display: block;
    height: 4pt;
    background-color: #f5f4f4;
    content: " ";
    width: 100vw;
    margin: 25pt -15px 0px -15px;
}
.divider-10pt:after {
    display: block;
    height: 10pt;
    background-color: #EFF0F7;
    content: " ";
    width: 375pt;
    margin: 25px -15px 0px -15px;
}

/******************************************/
/* COMMON ICON CSS */
/**********************************/

.location-next-icon {
    display: block;
    float: right;
    margin-top: 13px;
    width: 10.86pt;
    height: 12.87pt;
}
.text-wrap-inline {
    height: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/*----------------------------------------------
/* Header */
/*----------------------------------------------*/

.search-header {
    height: 40pt;
    width: 100%;
}
.crossPageIcon {
  width: 20px;
  height: 100%;    
}
.searchBar {
  margin-left: 11px;    
  width: calc(100% - 31px);
  height: 90%;
  border: 1pt solid #e3e3e3;
  background-color: #f5f4f4;
  padding: 10px;
  border-radius: 3pt;
  float: right;
}
.searchBar > img {
  width: 20px;
  height: auto;
  vertical-align: sub;    
}
.searchBar > input {
  border: none;
  width: calc(100% - 50px);
  height: auto; 
  background: transparent;
  font-size: 14pt;
  padding-left: 8px;
  text-align: left;
  color: #242A4B;
  opacity: 100%;
 
}
::placeholder {
  color: #bcbfd1;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: #bcbfd1;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: #bcbfd1;
}
.searchBar > input:focus{
    border: none;
     border-style: none;
    outline: none !important;
}

/************************************/
/* SECTION CSS */
/************************/

.saved-address {
    height: 45pt;
    max-width: 100%;
    padding: 20pt 0pt 0pt 0pt;
    zoom: 1;

}
.saved-address p {
    display: block;
    width: auto;
    height: auto;
    float: left;
    font-size: 15pt;
    color: #242A4B;
    opacity: 100%;
    margin: 5px 0px 5px 10px;    
}


/************************************
 MEDIA QUERRY 
*********************************/
